#container {margin:0 auto; width:1080px; border:1px solid gray}
#header {background:gray; color:white; padding:0.5em;}
#menu {border-bottom:1px solid gray; padding:0px; clear:both;}
#menu ul {padding:0px; margin:0px; list-style:none;}
#menu li {float:left; border-right:1px solid gray}
#menu li a{text-decoration:none; color:gray; padding-left:1.0em; padding-right:1.0em; padding-top:1.0em; font-size:1.5em;}
#engines {padding:0px; width:100%;}
#engines li {width:39px; float:left; margin:2px; padding:2px;}
#step_edit li {float:left; display: inline-block; margin:0px;}
#content {padding:0.0em; overflow:auto;}
#footer {background:gray; color:white; padding:0.5em; border-top:1px solid gray;}
h1 {padding:0px; margin:0px; font-size:3em}
h2 {padding:0px; margin:0px;}
textarea {resize:none; width:98%; height:100px}
button {text-align:center;}
ul {margin: 0 auto; text-align:center;}
.clear {clear:both;}
.selectable .ui-selecting {background:#B0B0B0;}
.selectable .ui-selected {background:gray; color:white;}
.selectable {list-style-type:none; margin:0; padding:0;}
.selectable li {margin: 4px; padding:0.3em; -webkit-user-select: none; text-align:center;}
.unselectable {-moz-user-select:-moz-none; -khtml-user-select:none; -webkit-user-select:none; -o-user-select:none; user-select: none;}